.elements {
  width: calc(100% - (100% - 880px));
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 282px));
  gap: 17px 20px;
  margin: 51px auto 0;
}

@media screen and (max-width: 960px) {
  .elements {
    width: calc(100% - 76px);
  }
}

@media screen and (max-width: 760px) {
  .elements {
    grid-template-columns: repeat(2, minmax(auto, auto));
  }
}

@media screen and (max-width: 470px) {
  .elements {
    width: calc(100% - 38px);
    grid-template-columns: repeat(1, minmax(auto, auto));
    margin-top: 36px;
  }
}
