.elements__photo {
  width: 100%;
  min-height: 280px;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 610px) {
  .elements__photo {
    min-height: 282px;
  }
}
