.profile__name {
  max-width: 294px;
  width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  margin: 0;
}

/* @media screen and (max-width: 999px) {
  .profile__name {
    max-width: 200px;
  }
}

