.elements__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/__heart.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 5px 0 1px 10px;
  border: 0;
}

.elements__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}
