.footer {
  width: 68.75%;
  min-height: 18px;
  margin: 67px auto 69px;
}

@media screen and (max-width: 470px) {
  .footer {
    width: calc(100% - 38px);
    min-height: 14px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}
