.elements__group {
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  margin: 25px 15px 32px 21px;
}

@media screen and (max-width: 470px) {
  .elements__group {
    max-width: calc(100% - 21px - 15px);
  }
}
